receivers:
  otlp:
    protocols:
      grpc:
      http:

  fluentforward:
    endpoint: 0.0.0.0:24224   # FireLens -> OTEL Collector logs

processors:
  batch:

exporters:
  otlp:
    endpoint: "172.83.83.98:4317"
    tls:
      insecure: true

extensions:
  health_check:
  pprof:

service:
  extensions: [health_check, pprof]

  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]

    logs:
      receivers: [fluentforward]
      processors: [batch]
      exporters: [otlp]

    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]
